.backgrounds{
    background-image: url("https://img.freepik.com/free-photo/blurred-abstract-background-interior-view-looking-out-toward-empty-office-lobby-entrance-doors-glass-curtain-wall-with-frame_1339-6364.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0px 0px; */
    height: max-content;
  }

.DocContainer{
    /* background-image: url("https://wallpaperaccess.com/full/1282799.jpg");
   background-repeat: no-repeat;
   background-size: 100%; */
    /* width: 95%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 88vh;
    overflow-y: scroll;
}
.DocContainer::-webkit-scrollbar{
    display: none;
}


.Docapp{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    height: 69vmin;
    width: 50vmin;
    background-color: azure;
    margin: 2%;
    padding:1%;
    border: 3px solid black;
    border-radius: 10px;
}


.lit{
    font-size: 3.5vmin;
    color: rgb(44, 40, 56);
    margin: 2%;
}

.lit-1{
    font-size: 2.2vmin;
    color: rgb(225, 65, 220);
    margin: 2%;
}

.lit-2{
    font-size: 2.5vmin;
    color: rgb(220, 22, 84);
    margin: 0%;
}
.lit-3{
    align-items: center;
    text-align: center;
    /* width: 20vmin; */
    height: 5vmin;
    background-color: beige;
    font-size: 20px;
    color: rgb(242, 69, 38);
    margin: 0%;
}
.Doc-img{
    height: 22vmin;
    width: 22vmin;
    border-radius: 75px;
}


#btn1{
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  #btn1:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  #btn1:active {
    transform: translateY(-1px);
  }

.SubContainer{
    height: 30vmin;
    background-color: rgb(17, 74, 165);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;
    align-items: center;
    margin: 2%;

}
.Doc-token{
    background-color: rgb(179, 244, 66);
    border-radius: 20px;
    height:25vmin ;
    text-align: center;
    font-size: 10vmin;
    margin: 2%;
}
 .img-div{
    background-color: rgb(17, 74, 165);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 1vmin; */
} 

.Token-Num{
    color: rgb(17, 17, 18);
    margin-top: -5vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.token{
    font-size: 3vmin;
    margin-top: 1vmin;
    margin-right: 23vmin;
    color: rgb(14, 15, 15);
}

.SubContainer-1{
    margin: auto;
    display:flex ;
    flex-direction: column;
}
.doc-lit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: fit-content;
    /* margin: 2vmin ; */
    /* width: 20vmin; */
    /* margin-left: 14vmin; */
}

.slot-1{
 background-attachment: fixed;
 
 /* margin: 2vmin; */
}

.select-1{
    width: 15vmin;
    margin: 1vmin;
}

.doc-btns{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    margin-top: -10vmin;
}

.doc-btn1{
    width: 8vmin;
    /* margin: 1vmin; */
    background-color: rgb(113, 115, 117);
    color: black;
    font-size: 4vmin;
    font-weight: 900;
    cursor: pointer;
}

.doc-btn2{
    width: 8vmin;
    /* margin-top: -6vmin; */
    margin-left: 20vmax;
    background-color: rgb(113, 115, 117);
    color: black;
    font-size: 5vmin;
    font-weight: 600;
    cursor: pointer;
}

