
.DocForm-div{
  /* background-image: url("https://img.freepik.com/free-photo/blurred-abstract-background-interior-view-looking-out-toward-empty-office-lobby-entrance-doors-glass-curtain-wall-with-frame_1339-6364.jpg?size=626&ext=jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: fit-content;
  background-color: rgb(241, 246, 249);
}

.form {
  background-color: rgb(57, 72, 103);
  display: block;
  padding: 1rem;
  width: 60vmin;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-bottom: 6vmin;
  font-size: 5vmin;

}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  /* font-style: italic; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  color: #F1F6F9;
}

.form input{
  max-width: 50vmin;
  font-size: 3vmin;
  /* padding: 1rem; */
}

.input-container {
  position: relative;
}

.input-container input{
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  /* padding-right: 3rem; */
  font-size: 0.875rem;
  color: #000;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  /* font-size: 5vmax; */

}

.input-container span {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

.input-container span svg {
  color: #9CA3AF;
  width: 1rem;
  height: 1rem;
}

.submit {
  display: block;
  background-color: rgb(33, 42, 62);
  color: #ffffff;
  font-size: 0.875rem;
   line-height: 1.25rem; 
  font-weight: 700;
  height: 6vmin;
  width: 20vmin;
  margin:  1vmin auto;
  border-radius: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}
.submit:hover{
  background: #F1F6F9;
  color: #000;
}


.signup-link {
  color: #141414;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
  color: #F1F6F9;
}



 .DocForm-div-1{
  background-repeat: no-repeat;
  background-size: cover;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: fit-content;
   background-color: rgb(241, 246, 249);
 
}

.main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.form-1 {
  background-color: rgb(57, 72, 103);
  display: flex;
  flex-direction: column;
  padding: 2vmin;
  width: 56vmin;
  max-height: fit-content;
  border-radius: 0.5rem;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-bottom: 6vmin;
}

.form-1 input{
  max-width: 45vmin;
  font-size: 2vmin;
}

.form-1 label{
  margin: 1vmin;
  color: #F1F6F9;
}

.regi-btn{
  width: 15vmin;
  font-size: 2.5vmin;
  text-align: center;
  border-radius: 10vmin;  
  position:relative;
  background-color: rgb(33, 42, 62);
  border: 2px solid #F1F6F9;
	color:  #F1F6F9;
  transition: .2s;
  font-weight: bold;
  cursor: pointer;
}

.regi-btn:hover{
  background-color: rgb(44, 56, 79);
}