.footer {
    /* display: flex; */
    /* justify-content: space-between; */
    /* width: 100vw; */
    align-items: center;
    border: solid black;
    background-color: rgb(33, 42, 62);
    border-bottom: solid white;
    border-radius: 5px;
    height: fit-content;
    z-index: 5;
    padding: 1vmin;
    /* text-align: center; */
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 1vmin; */
}


.logo-1 {
    height: 15vmin;
    width: 30vmin;
    margin-left: 3vmin;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 30vmin; */
}

/* .footer-para{
    height: 5vmin;
    width: 50vmin;
} */
.footer-para p {
    color: aliceblue;
    /* height: 2vmin; */
    width: 60vmin;
    text-align: left;
    margin-left: 8vmin;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin-left: 1vmin; */
    /* padding: 1vmin;
    margin: 1vmin; */
}


.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vmin;
}

.Main-page {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    margin: 2vmin;
    padding: auto;
}

.Main-page a {
    color: aliceblue;
    margin: 2vmin;
    padding: 3vmin;
}

.icon-1 {
    margin-right: 1vmin;
}

@media screen and (max-width: 607px) {
    .footer {
        height: 20vmin;
    }

    .footer-logo {
        flex-direction: column;
        margin: 0%
    }

    .logo-1 {
        height: 20vmin;
        width: 30vmin;
    }

    .links {
        margin: 0;
    }

    .social-icons {
        /* padding: 2vmin; */
        margin-right: 1vmin;
        bottom: 3vmin;
    }

    .ms-2 {
        display: none;
    }

    .ms-1 {
        display: flex;
        color: aliceblue;
        font-size: 3.5vmin;
        text-align: center;
        margin-top: 3vmin;
        margin-left: 20vmin;
    }
}

.main-footer {
    color: white;
    background-color: #dc3545;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
}