*{
  text-decoration: none;
}

/* body{
  background-image: url("https://img.freepik.com/free-photo/blurred-abstract-background-interior-view-looking-out-toward-empty-office-lobby-entrance-doors-glass-curtain-wall-with-frame_1339-6364.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */
.nav{
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items:  center;
  border: solid black; 
  background-color: black;
  border-bottom: solid white;
  border-radius: 5px;
  height: 12vh;
  z-index: 5;
  /* width: 100%; */
}

.logo{
  height: 25vmin;
  /* width: 10vmin; */
  /* background-color: aliceblue; */
  
}

.head{
    width: 50vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.regi{
  height: 9vmin;
  width: 9vmin;
	/* border: 1px solid chartreuse; */
  position:relative;
	padding: 10px 25px;
	border-radius: 50px;
	background-color: rgb(124, 246, 2);
	color: black;
  transition: .2s;
  font-size: medium; 
  font-weight: bold;
}
.regi:hover{
	background-color: black;
	border: 2px solid chartreuse;
  color: white;
	cursor: pointer;
}


.home{
	border: 2px solid #f9004d;
  position:relative;
	padding: 10px 25px;
  height: 4vmin;
  width: 9vmin;
	border-radius: 50px;
	background-color: #f9004d;
	color: black;
  transition: .2s;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  align-items: center;
}
.home:hover{
	background-color: black;
	border: 2px solid #f9004d;
  color: white;
	cursor: pointer;
}




.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 35vmin;
    height: 28vmin;
    padding: 2vmin;
    background-color: #9f9e9e;
    box-shadow: 0 0 10px rgba(40, 20, 20, 0.3);
    border-radius: 30px;
  }

  .btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .close-btn {
    height: 5vmin;
    width: 5vmin;
    font-size: 3vmin;
    margin-left: 26vmin;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 50px;
  }
  .btn-1{
    background-color: rgb(145, 235, 72);
    height: 6vmin;
    width: 20vmin;
    font-size: 3vmin;
    margin: 2vmin;
    border-radius: 30px;
    cursor: pointer;
  }

  .btn-2{
    height: 6vmin;
    width: 20vmin;
    font-size: 3vmin;
    margin: 3%;
    padding: 2%;
    border-radius: 30px;
    cursor: pointer;
  }

  .user_img{
    height: 8vmin;
    width: 8vmin;
    background-color: #bbb;
    border-radius: 50%;
    /* margin-top: 3vmin; */
    margin-right: 1vmin;
    display: inline-block;
  }

  .log_div{
    position: absolute;
    background-color: rgb(221, 250, 215);
    height: 17vmin;
    width: 25vmin;
    font-size: 2.5vmin;
    margin-bottom: 1vmin;
    top: 17vmin;
    right: 3vmin;
  }

  .log_btn1{
    height: 3vmin;
    width: 5vmin;
    background-color: aliceblue;
    color: black;
    font-weight: 600;
    border-radius: 30%;
  }

  .log_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
