@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  text-decoration: none;
}

.nav{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 100vw;
  align-items:  center;
  border: solid black; 
  background-color: rgb(33, 42, 62);
  border-bottom: solid white;
  border-radius: 5px;
  height: 12vh;
  z-index: 5;
  align-items: center;
   z-index: 5;

}

.Logo{
  height: 25vmin;
}

.head{
    width: 50vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

/* .Sub-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.5rem;
  align-items: center;
  margin-right:auto;
    width: 35%;
} */

.menu-icon{
  display: none;
}

.Sub-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
  font-size: 3vmin;
  align-items: center;
  /* padding: 10px; */
  margin-right:auto;
  width: 70%;
}

/* .Sub-btn > div {
  margin-right: 20px;
} */

.Sub-btn a {
  /* position: absolute; */
  /* right: 0; */
  text-decoration: none;
  color: #efeeee;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
margin-left: auto;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.Sub-btn a:hover {
  background-color: #ccc;
  color: rgb(33, 42, 62);
}

.regi{
  position:relative;
	padding: 10px 25px;
	border-radius: 50px;
  border: 2px solid #F1F6F9;
	color:  #F1F6F9;
  transition: .2s;
  font-size: medium; 
  font-weight: bold;
}
.regi:hover{
	background-color: black;
	border: 2px solid rgb(248, 244, 244);
  color: white;
	cursor: pointer;
}


.home{
	/* border: 2px solid #111111; */
  position:relative;
	padding: 10px 25px;
	border-radius: 50px;
	/* background-color: rgb(241, 246, 249); */
	color: black;
  transition: .2s;
  font-size: 3vmin;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin: 3vmin;
}
.home:hover{
	background-color: black;
	border: 2px solid #f7f7f7;
  color: white;
	cursor: pointer;
}




.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 35vmin;
    height: 28vmin;
    padding: 2vmin;
    background-color: rgb(57, 72, 103);
    box-shadow: 0 0 10px rgba(40, 20, 20, 0.3);
    border-radius: 30px;
  }

  .btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .close-btn {
    height: 5vmin;
    width: 5vmin;
    font-size: 3vmin;
    margin-left: 26vmin;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 50px;
  }
  .btn-1{
    background-color: rgb(241, 246, 249);
    height: 6vmin;
    width: 20vmin;
    font-size: 3vmin;
    margin: 2vmin;
    border-radius: 30px;
    cursor: pointer;
    color: black;
  }

  .btn-2{
    height: 6vmin;
    width: 20vmin;
    background-color: rgb(241, 246, 249);
    color: black;
    font-size: 3vmin;
    margin: 3%;
    padding: 2%;
    border-radius: 30px;
    cursor: pointer;
  }

  .user_img{
    height: 8vmin;
    width: 8vmin;
    background-color: #bbb;
    border-radius: 50%;
    margin-left: 5vmin;
    /* display: inline-block; */
  }

  /* .log_div{
    position: absolute;
    background-color: rgb(221, 250, 215);
    height: 17vmin;
    width: 25vmin;
    font-size: 2.5vmin;
    margin-bottom: 1vmin;
    top: 17vmin;
    right: 3vmin;
  }

  .log_btn1{
    height: 3vmin;
    width: 5vmin;
    background-color: aliceblue;
    color: black;
    font-weight: 600;
    border-radius: 30%;
  } */

  .log_div {
    position: absolute;
    height: 15vmin;
    width: 25vmin;
    top: 23vmin;
    right: -5vmin;
    transform: translate(-50%, -50%);
    background-color: rgb(57, 72, 103);
    padding: 3vmin;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    color: rgb(241, 246, 249);
  }
  
  .log_div h3 {
    font-size: 2.5vmin;
  }
  
  .log_btn {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
  }
  
  .log_btn1{
    height: 4vmin;
    width: 8vmin;
    padding: 10px 10px;
    margin: 0 5px;
    background-color: rgb(241, 246, 249);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .log_btn button:hover {
    background-color: rgb(33, 42, 62);
    color: #f1f1f1;
  }
  
  .log_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .logout-btn {
    display: block;
    width: 100%;
    padding: 8px 12px;
    background-color: #f1f1f1;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
  }


 